.saba {
    text-decoration-line: underline;
    text-decoration-color:  rgb(123, 240, 90);
    text-decoration-style: dashed;
    text-decoration-thickness: inherit;
}




#datvi  {
    text-decoration-line: underline;
    text-decoration-color:  rgb(33, 20, 230);
    text-decoration-style: dashed;
    text-decoration-thickness: inherit;
}

#color {
    text-decoration-line: overline;
    text-decoration-color:  rgb(3, 2, 9);
    text-decoration-style: wavy;
    text-decoration-thickness: inherit;
}