input {
    background-color: gray;
    border-radius: 10%;
    color: red;
    font-family: fantasy;
    width: 100px;
    height: 20px;
}

button {
    color: chocolate;
    background-color: chartreuse;
    border-radius: 20%;

}