
table {
    width: 450px;
    height: 170px;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

thead {
    background-color: #01987a;
    color: white;
    height: 40px;
}

td {
    color: gray;
    text-align: center;
}

tr:nth-child(2) {
    background-color: #f3f3f3;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
}

tr:nth-child(2) td {
    color: #01987a;
    font-weight: 700;
}

tr:nth-child(3) {
    border-bottom: 2px solid #01987a;
}