
/* # 3) რამოდენიმე სელექტორის არჩევაზე(როგორც საკლასო დავალებაში იყო) და კონკრეტულ სელექტორში სხვა სელექტორის 
# გასტილვაზე 3-3 რამოდენიმე მაგალითი(მაგალითად ისეთი პარაგრაფის გასტილვა, რომელიც იმყოფება div-ში) */





div p{
    color: green;
}


div button{
    color: red;
}


div h1{
    color: blue;
}