body {
    
    
    display: flex;
    justify-content: flex-end;   
    align-items: center;   
         
}


.parent {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;      
    justify-content: space-around;
    background-color: lightgray;
    
}


.child {
    height: 50px;
    width: 50px;
    background-color: blue;
    border: solid red 5px;
    
}